#heading{
    color:#47D310;
    background-color: #817B7B;
}
.heading{
    color: #ADB626;
    background-color: #9675E5;
}
.para{
    color:#090808;
    background-color: #9675E5;
}
p{
    color:#0870E6;
    background-color: #EFC3CA;
}